@model IEnumerable<banknote.Models.Note>

@{
    ViewData["Title"] = "Index";
}

<h1>All Notes</h1>

<table class="table">
    <thead>
        <tr>
            <th>SL No.</th>
            <th>
                @Html.DisplayNameFor(model => model.NoteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoteValue)
            </th>
            <th>Person</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@(i++)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoteName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoteValue)
                </td>
                <td>
                    @*@await Html.PartialAsync("RenderPerson.cshtml")*@
                    @await Component.InvokeAsync("Person", new {id = item.Id})
                    @*<vc:Person></vc:Person>*@
                </td>
                @*<td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>































@*@model IEnumerable<banknote.Models.Note>

@{
    ViewData["Title"] = "AllNotes";
}

<h1>AllNotes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoteValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NoteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NoteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NoteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
